/**
*
* General Styles
*
**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
img {
  max-width: 100%;
}
.cta {
  margin-top: 30px;
  color: #fff;
  padding: 15px 25px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.cta--orange, 
.btn-primary,
.btn-outline-primary:hover {
  background-color: #ee7c1c;
  border: 0;
}
.cta--blue {
  background-color: #060608;
}
.cta--blue:hover, 
.btn-primary:hover, 
.btn-outline-primary {
  color: #ee7c1c;
  background-color: transparent;
  border: 1px solid #ee7c1c;
  border-radius: 3px;
}
.btn-outline-primary {

}


/* Header Styles */
.header {
  padding: 10px;
  background-color: #060608;
}
.header__logo {
  width: 60%;
  margin: 0 auto;
}
.nav-link {
  font-weight: 600;
  color: #e0dedc;
  font-size: 1rem;  
}
.nav-link:hover {
  color: #e0dedc;
  text-decoration: underline;
}
.quote {
  border: 2px solid #e0dedc;
  text-transform: uppercase;
}
.nav-link.quote:hover {
  text-decoration: none !important;
}
/* End of Header Styles */

/* Foter Styles */
.footer {
  padding-top: 50px;
  background-color: #060608;
  color: #fff;
  line-height: 1.8;
}
.footer h3 {
  margin-bottom: 30px;
}
fieldset {
  margin-top: 30px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.footer__about img {
  width: 70%;
  margin-bottom: 20px;
}
.footer__links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.footer__socials span {
  display: block;
  color: #ee7c1c;
  font-weight: 600;
}
.footer__credit {
  margin-top: 50px;
  text-align: center;
  padding: 5px;
  background-color: #ee7c1c;
  color: #fff;
}
.footer__credit a {
  color: #fff;
}
/* End of Footer Styles */


/**
*
* Home Page Styles
*
**/

/* Banner Styles */
.banner {
  width: 100%;
  height: 100vh;
  background-color: #16151f;
  background-image: url(../images/home-banner.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__content {
  width: 60%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 170px;
}
.banner__content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner__content p {
  line-height: 1.8;
  font-size: 1.3rem;
}
/* End of Banner Styles */

/* Advert Styles */
.advert {
  position: relative;
  margin: 0 auto;
  top: -150px;
}
.advert img {
  width: 100%;
}
/* End of Advert Styles */

/* About Styles */
.about {
  background-color: #e6e6e6;
  padding: 80px 0;
}
.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.about__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.about__desc h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.about__desc p {
  line-height: 1.7;
  font-size: 1.2rem;
  text-align: justify;
}
/* End of About Styles */

/* Feature Styles */
.features {
  background-color: #e6e6e6;
  padding: 100px 0;
}
.features__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 80vh;
}
.features__desc, .features__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features__desc h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.features__desc p {
  line-height: 1.7;
  font-size: 1.2rem;
  text-align: justify;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.features__img {
  padding-left: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.features__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 40px auto;
}
.fix-search {
  position: fixed;
  top: 10px;
}
/* End of Feature Styles */

/**
*
* About Page Styles
*
**/

.abt-body {
  background-color: #e6e6e6;
}
.about-banner,
.services-banner,
.pricing-banner {
  width: 100%;
  height: 65vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.about-banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../images/about-banner.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  transition: all 2s;
}
.about-banner:hover::after, 
.services-banner:hover::after,
.pricing-banner:hover::after {
  filter: blur(0);
}
.banner__content,
.services__content,
.pricing__content {
  position: absolute;
  z-index: 8;
}
.about-banner:hover .banner__content,
.services-banner:hover .services__content,
.pricing-banner:hover .pricing__content {
  filter: blur(3px);
  transition: all 2s;
}
.banner__content,
.services__content {
  filter: blur(0);
  position: absolute;
  z-index: 1;
}
.banner__content {
  color: #e6e6e6;
  font-weight: 800;
}
.intro {
  width: 100%;
  background-color: #16151f;
  color: #fff;
  padding-top: 40px;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.box i {
  margin-bottom: 10px;
}
.box h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.box p {
  font-size: 1rem;
}
.about-wrapper {
  text-align: center;
}
.about-wrapper h2 {
  margin: 30px auto;
  font-weight: 800;
  font-size: 4rem;
}
.about-wrapper p {
  line-height: 2;
}

.about-stat {
  background-color: #ffffff;
  padding: 3rem 0;
}
.c-stat {
  justify-content: center;
  justify-items: self-start;
}
.c-stat__number {
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
  font-size: 4rem;
  color: #1d1d1d;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: .25rem;
}
.c-stat p {
  margin: 0;
}
.c-stat__copy {
  line-height: 1.42857143;
  letter-spacing: normal;
  font-size: .875rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.abt-acme {
  margin: 80px auto;
}
.abt-acme h2 {
  font-weight: 800;
}
.abt-acme p {
  line-height: 2;
}
.abt-acme .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
*
* Services Page Styles
*
**/
.services-banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../images/services-banner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  transition: all 2s;
}
.services__content h1 {
  color: #16151f;
  font-weight: 800;
}

/**
*
* Pricing Page Styles
*
**/

.pricing {
  margin: 50px auto;
}
.pricing-banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../images/pricing-banner.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  transition: all 2s;
}
.pricing__content h1 {
  color: #16151f;
  font-weight: 800;
  z-index: 8;
}

/**
*
* Sign-in Page Styles
*
**/

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 100px auto 50px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 769px) {
  .features__content,
  .about__content,
  .boxes {
    grid-template-columns: 1fr;
  }
  .banner__content,
  .services__content,
  .pricing__content {
    width: 100%;
  }
  .banner__content p {
    display: none;
  }
  .advert {
    top: -100px;
  }
  .features__content {
    height: auto;
  }
  .features__img img:not(:first-child) {
    display: none;
  }
  .about-wrapper h2 {
    font-size: 2rem;
  }
  .about-stat {
    text-align: center;
  }
}
