/**
*
* General Styles
*
**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.main {
  margin-top: 70px;
}
.cta {
  margin-top: 30px;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}
.cta--cyan {
  background-color: #44bba4;
  border: 1px solid #44bba4;
  color: #fff;
  &:hover {
    background-color: transparent;
    border: 1px solid #44bba4;
    color: #44bba4;
  }
}
.cta--orange {
  background-color: #ee7c1c;
  border: 1px solid #ee7c1c;
  color: #fff;
  border: 0;
  &:hover {
    background-color: transparent;
    border: 1px solid #ee7c1c;
    color: #ee7c1c;
  }
}
.orange--outline {
  background-color: transparent;
  border: 1px solid #ee7c1c;
  color: #ee7c1c;
  &:hover {
    color: #fff;
    background-color: #ee7c1c;
    border: 1px solid #ee7c1c;
  }
}
.cta--blue {
  background-color: #6457a6;
  border: 1px solid #6457a6;
  color: #fff;
  &:hover {
    background-color: transparent;
    border: 1px solid #6457a6;
    color: #6457a6;
  }
}

.divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header Styles */
.header {
  padding: 10px;
  background-color: #584d8f;
  // height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo {
  width: 60%;
  margin: 0 auto;
}
.nav-link {
  font-weight: 600;
  color: #efe9e7 !important;
  font-size: 1rem;
  &:hover {
    color: #efe9e7d0 !important;
    text-decoration: underline;
  }
  &.active {
    color: #efe9e78e !important;
    pointer-events: none;
    cursor: default;
  }
}
.quote {
  border: 2px solid #efe9e7;
  text-transform: uppercase;
}
.nav-link.quote:hover {
  text-decoration: none !important;
}
/* End of Header Styles */

/* Foter Styles */
.footer {
  padding-top: 50px;
  background-color: #3c3464;
  color: #fff;
  line-height: 1.8;
  h4 {
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: 500;
    color: #ee7c1c;
  }
  p {
    margin-bottom: 0;
  }
  .cta {
    padding: 5px 0;
    margin: 0;
    width: 100%;
  }
  .form-control {
    padding: 0.1rem 0.75rem;
    background-color: transparent;
  }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ee7c1c;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(238, 124, 28 / 25%);
  }
}
fieldset {
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 1rem;
  line-height: 1.5;
}
.footer__about img {
  width: 70%;
  margin-bottom: 20px;
}
.footer__links a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
.footer__socials span {
  display: block;
  color: #ee7c1c;
  font-weight: 600;
}
.footer__credit {
  margin-top: 50px;
  text-align: center;
  padding: 5px;
  background-color: #ee7c1c;
  color: #fff;
  a {
    color: #fff;
  }
}
/* End of Footer Styles */

/**
*
* Home Page Styles
*
**/

/* Banner Styles */
.home-banner {
  width: 100%;
  background-image: url(../css-img/home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
/* End of Banner Styles */

/* Advert Styles */
.advert {
  position: relative;
  margin: 0 auto;
  top: -150px;
}
.advert img {
  width: 100%;
}
/* End of Advert Styles */

.feature {
  background-color: #e6e6e6;
  i {
    padding: 20px;
    background-color: #6457a6;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 3rem;
  }
}

/* About Styles */
.about__content {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 20px;
  padding: 80px 0;
}
.about__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  text-align: left;
}
.about__desc h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6457a6;
}
.about__desc p {
  line-height: 1.7;
  font-size: 1.2rem;
  text-align: justify;
}
/* End of About Styles */

/* Feature Styles */
.features {
  padding: 100px 0;
}
.features__content {
  display: grid;
  grid-template-columns: auto 40%;
  grid-gap: 20px;
}
.features__desc,
.features__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.features__desc h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #44bba4;
}
.features__desc p {
  line-height: 1.7;
  font-size: 1.2rem;
  text-align: justify;
}
.features__img {
  padding-left: 20px;
  height: 100%;
}
.features__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 40px auto;
}
.fix-search {
  position: fixed;
  top: 10px;
}
/* End of Feature Styles */

/**
*
* Other Pages General Styles
*
**/

.page-banner {
  width: 100%;
  height: 45vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  &::after {
    content: "";
    background-image: url(../css-img/home-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(3px);
    position: absolute;
    transition: all 2s;
  }
}
.banner__content {
  position: absolute;
  z-index: 8;
  color: #000;
  h1 {
    font-weight: 700;
    text-align: center;
  }
}
.intro {
  width: 100%;
  background-color: rgb(238, 238, 238);
  padding-top: 40px;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.box {
  i {
    margin-bottom: 10px;
    color: #ee7c1c;
  }
  h2 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #584d8f;
  }
  p {
    font-size: 1rem;
  }
}

/**
*
* About Page Styles
*
**/

.about-wrapper {
  background-color: #ffffff;
  text-align: center;
  margin: 30px auto;
  h2 {
    margin: 50px auto;
    font-weight: 700;
    font-size: 3rem;
  }
  p {
    line-height: 2;
  }
}
.about-stat {
  background-color: #e6e6e6;
  padding: 3rem 0;
}
.c-stat {
  justify-content: center;
  justify-items: self-start;
}
.c-stat__number {
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
  font-size: 4rem;
  color: #1d1d1d;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.c-stat p {
  margin: 0;
}
.c-stat__copy {
  line-height: 1.42857143;
  letter-spacing: normal;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.abt-acme {
  margin: 80px auto;
}
.abt-acme h2 {
  font-weight: 800;
}
.abt-acme p {
  line-height: 2;
}
.abt-acme .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-title {
  color: #ee7c1c !important;
}

/**
*
* Services Page Styles
*
**/

.services {
  margin: 50px auto;
  .bg-dark1 {
    background-color: #44bba4;
    width: 90%;
    margin: 0 auto;
  }
  .bg-dark2 {
    background-color: #6457a6;
    width: 90%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    max-height: 100%;
    padding: 10px;
  }
}

/**
*
* Pricing Page Styles
*
**/

.pricing {
  margin: 50px auto;
  .card-header {
    background-color: #584d8f;
    color: #fff;
  }
}

/**
*
* Contact Page Styles
*
**/

.contact-section {
  h2 {
    font-weight: 700;
    text-align: center;
  }
  .contact-wrapper {
    width: 70%;
    margin: 50px auto;
  }
}

/**
*
* Not Found Page Styles
*
**/

.not-found a {
  text-decoration: none;
  color: #ee7c1c;
  font-weight: 700;
}

/**
*
* Sign-in Page Styles
*
**/

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #e6e6e6;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 100px auto 50px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  outline: 0;
  border: 0;
  z-index: 2;
  box-shadow: 0 0 0 0.1rem #ee7c1c;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff !important;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff !important;
}



@media (max-width: 769px) {
  .features__content,
  .about__content,
  .boxes {
    grid-template-columns: 1fr;
  }
  .banner__content,
  .services__content,
  .pricing__content {
    width: 100%;
  }
  .banner__content p {
    display: none;
  }
  .advert {
    top: -100px;
  }
  .features__content {
    height: auto;
  }
  .features__img img:not(:first-child) {
    display: none;
  }
  .about-wrapper h2 {
    font-size: 2rem;
  }
  .about-stat {
    text-align: center;
  }
  .contact-wrapper {
    width: 100%;
    margin: 30px auto;
  }
}

@media (max-width: 500px) {
  .buttons {
    display: block;
    a {
      display: block;
      width: 100%;
    }
  }
  .page-banner {
    height: 25vh;
  }
}

@media (max-width: 767px) {
  .feature,
  .about,
  .features h2 {
    text-align: center;
  }
  .page-banner {
    height: 35vh;
  }
}

@media (max-width: 991px) {
  .banner {
    grid-template-columns: 1fr;
    text-align: center;
    .img {
      display: none;
    }
  }
}
